<!DOCTYPE html>
<html lang="en">
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <%- partial('_partial/navbar') %>
    <%- body %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/scripts') %>
  </body>
</html>